.app {
  text-align: center;
}

.sample {
  margin: 2em 0 0;
}

.editor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  width: 480px;
  margin: 0 10px;
}

.demo-editor,
.plain-editor {
  min-height: 320px;
  border: 1px solid #ddd;
  padding: 1em;
  text-align: left;
  cursor: text;
}
